#start-btn
{
    width: 40%;
} 
#camera, #result
{
    width:360px;
    height: 250px;
    border:5px double rgb(0, 0, 0);
}
.logo_img
{
    width: 150px;
    border-radius: 100px;
    border: 5px solid black;
}
#textbox
{
    width: 300px;
    text-align: center;
    color: blue;
    font-size: 24px;
}
body{
    background-color: darksalmon;
    color: blue;
}